@model IEnumerable<UserTask>

<div class="col-12 text-center">
    <h1>
        Task List
    </h1>
</div>
<div class="p-3">
    <div class="row-pb-3">
        <div class="col-6 offset-6 text-end">
            <a class="btn btn-success" asp-controller="Task" asp-action="Create">
                Create Task
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Satus</th>
                <th>Importance</th>
                <th>Created At</th>
                <th>Deadline</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.Name</td>
                    <td>@task.Description</td>
                    <td>@task.Status</td>
                    <td>@task.Importance</td>
                    <td>@task.CreatedAt</td>
                    <td>@task.Deadline</td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Task" asp-action="Update" asp-route-id="@task.TaskId">
                            Update
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger delete-task" data-id="@task.TaskId">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/task/deleteTask.js"></script>
}                     